.reset-password-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.reset-password-container h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    text-align: center;
}

.reset-password-container form {
    display: flex;
    flex-direction: column;
}

.reset-password-container label {
    font-weight: bold;
    margin-bottom: 5px;
}

.reset-password-container input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 1rem;
}

.reset-password-container button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px; 
}

.reset-password-container button:hover {
    background-color: #0056b3;
}

.reset-password-container p {
    font-size: 1rem;
    text-align: center;
    margin-top: 10px;
}

.reset-password-container p span {
    color: #007bff;
    cursor: pointer;
    text-decoration: underline;
}
